@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
  margin: 0;
  font-family:'Montserrat', sans-serif;
    background-image: url(expense2.jpg);
}

h2{
    display: inline-block;
    color: whitesmoke;
    margin-left: 30px;
        
}

.title{
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}

.expbox{
    width: 700px;
    height: 400px;
    margin: auto;
    margin-top: 5%;
    border-radius: 7px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.topnav {
  overflow: hidden;
  background-color: black;
  height: 70px;
  width: 100%;
}

.topnav a {
  margin-left: 50px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

#t1,#t2,#t3{
    line-height: 45px;
    font-size: 20px;
    margin-left: 100px;
    position: relative;
    top: 50px;
}

input{
    position: relative;
    margin: 5px 20px;
    top: 50px;
    width: 50%;
    height: 20px;
    border: 2px solid black;
    border-radius: 3px;
}













