 <!DOCTYPE html>
<html>
<head>
    <title>TrackerX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="addbal.css" type="text/css">
    <script type="text/javascript" th:src="@{/addexp.js}"></script>
</head>
<body>

<div class="topnav">
    <h2>TrackerX</h2>
    <a th:href="@{addexp}">Add Expense</a>
    <a th:href="@{viewexp}">View Expense</a>
    <a th:href="@{addbal}"  id="nav">Add Balance</a>
    <a th:href="@{viewbal}">View Balance</a>   
    <a th:href="@{analysis}">Analysis</a> 
    <span style="color: white;margin-left: 300px;font-size: 20px" th:text="'Hey, ' + ${currentUser} + ' !'"></span>
    <span><img th:onclick="|window.location.href='/logout'|" style="margin-left: 15px;" src="expense3.png" width="15px" height="15px" title="Logout"></span>
</div>
<div class="expbox">
    <div style="width: inherit;height: 100px;background-color: black;border-top-right-radius: 7px;
                border-top-left-radius: 7px;">
        <p class="title">Add Money to Wallet</p>
    </div>
    <form th:action="@{/addbalance}" method="POST">
        <span id="t1">Amount</span><input type="number" id="amount" name="bal" required><br>
        <div id="hint">(Use '-' for deduction)</div>
    
    
<br><br><br><br>
    <div style="margin-left: 230px;margin-top: -30px;">
        <input type="button" onclick="clearAll();" value="Clear" style="width: 80px;height: 30px;background-color: black;color: white;border-radius: 5px;">
        <input type="submit" style="width: 80px;height: 30px;background-color: black;color: white;border-radius: 5px;">
        
    </div>
    </form>
</div>
</body>    
<script>
    document.getElementById("nav").style.backgroundColor="white";
    document.getElementById("nav").style.color="black";
</script>
</html>