<!DOCTYPE html> 

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="register.css" type="text/css">
    </head>
    <body>
    	<h2 th:text="${message}"></h2>
        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <form th:action="@{/regdetails}" method="POST">
                    <h1>Register</h1><br><br><br>
                    <input type="text" placeholder="First Name" name="fname" required />
                    <input type="text" placeholder="Last Name" name="lname" required />
                    <input type="email" placeholder="Email" name="mail" required />
                    <input type="password" placeholder="Password" name="pass" required  /><br><br>
                    <button>Sign Up</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        <h1>Welcome</h1>
                        <h2>to</h2>
                        <h1>TrackerX</h1>
                        <p style="width: 350px">A convenient way to track your expenses</p>
                        <span>Already registered with us ?</span><br><br><br><br>
                        <button class="ghost" id="signUp" onclick="location.href='/login.html'">Sign In</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
